body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
}

h2 {
    color: #444;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #f80b03;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.post {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post form {
    display: inline;
    background: none;
    padding: 0;
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
}
select {
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    input,
    textarea {
        font-size: 16px;
    }
}